<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="./assets/css/style-starter.css" />
    <!-- Thymeleaf SpringSecurity working code for inserting resources -->

    <!-- vscode style includes-->
    <!-- <link rel="stylesheet" href="../static/assets/css/style-starter.css" /> -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- header -->
    <header id="site-header" class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a th:href="@{/home}" class="navbar-brand"
            ><i class="fas fa-graduation-cap"></i>Shine Public School</a
          >
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item" sec:authorize="isAnonymous()">
                <a
                  th:href="@{/home}"
                  class="nav-link active"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li class="nav-item" sec:authorize="isAnonymous()">
                <a th:href="@{/courses}" class="nav-link">Courses</a>
              </li>
              <li class="nav-item" sec:authorize="isAnonymous()">
                <a th:href="@{/contact}" class="nav-link">Contact</a>
              </li>
              <li class="nav-item" sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="nav-link">Login</a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/dashboard}" class="nav-link">Dashboard</a>
              </li>
            </ul>
          </div>

          <!-- profile_container -->
          <div
            class="profileFrame"
            th:onclick="'toggleBox();'"
            sec:authorize="isAuthenticated()"
          >
            <nav>
              <i class="fas fa-solid fa-user"></i>
            </nav>
          </div>

          <div>
            <!-- profile dropdown menu -->
            <div class="dropdownContainer" sec:authorize="isAuthenticated()">
              <div class="options-box card" id="optionsBox">
                <h5 th:text="${username}"></h5>
                <p th:text="${roles}"></p>
                <ul class="navbar-nav">
                  <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/displayProfile}" class="nav-link">Profile</a>
                  </li>
                  <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="nav-link">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="cont-ser-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox" />
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
    <!-- //header -->
  </body>

  <!-- theme switch js (light and dark)-->
  <script src="./assets/js/theme-change.js"></script>
  <!-- //theme switch js (light and dark)-->

</html>
